
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Poppins;
}

.container{

    background-image: url(../img/squitward.png);
    width: 70%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    
}
form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.422);
    max-width: 100%;
    width: 400px;
    margin-top: 50px;
}
input {
    border: none;
    color:#444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: antiquewhite;
}
.todo {
   position: absolute;
   top: 20%;
   left: 35%;
   width: 25%;
   height: 65%;
   transform: rotate(18deg);
}


.todos {
   position: fixed;
   padding: 0;
   margin:0;
 
}

.todos li {
    list-style:inside;
    line-height: 1;
    list-style-type: '- ';
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    margin: 0 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.todos li.completed {
    color: rgb(129, 128, 128);
    text-decoration: line-through;

}

.instruction {
    margin: 20px 0;
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.instruction-mobile {
    margin: 10px 0;
    display: none;
    width: 70%;
    justify-content: space-between;
}

@media only screen and (max-width: 769px) {

    .instruction {
        display: none
    }
    .instruction-mobile {
        display: flex;
    }
    .todo {
        position: absolute;
        top: 22%;
        left: 30%;
        width: 35%;
        height: 60%;
     }
  }


@media only screen and (max-width: 426px) {

    .container {
        width: 100%;
        height: 50%;
    }

    .todo {
        position: absolute;
        width: 38%;
        left: 30%;
     }
    .todos li {
    
        cursor: pointer;
        font-size: 14px;
        padding: 0.2rem 0.2rem;
    }
    
  }
